/* Default font and colors for the project */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-text-primary: #000;
  --clr-back-primary: #fff;

  --main-bg-color: #2195BF;
  --second-bg-color: #31748C;
  --accent-bg-color: #BF3454;
  --main-font-color: #FFFFFF;
}

/* Tabular browsing */
*:focus {
  outline: .5px solid var(--clr-back);
  outline-offset: .3rem;
}

/* Typography */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--clr-text-primary);
  background-color: var(--clr-back-primary);
}

/* Header */
.container {
  display: flex;
  justify-content: center;
  background-color: #fff9e6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.alert-heading {
  padding-bottom: .8rem;
}

.logo-agpl {
  padding: 1.2rem;
  border: #663366 solid .4rem;
  border-radius: 1.2rem;
  width: 18rem;
}
